<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VideoGraphSample.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <VideoGraphSample.Properties.Settings>
            <setting name="WindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>521, 222</value>
            </setting>
            <setting name="WinSize_x0085" serializeAs="String">
                <value>300, 300</value>
            </setting>
            <setting name="WinSize_x0086" serializeAs="String">
                <value>300, 300</value>
            </setting>
            <setting name="WinSize_x0087" serializeAs="String">
                <value>300, 300</value>
            </setting>
            <setting name="WinSize_x0088" serializeAs="String">
                <value>300, 300</value>
            </setting>
            <setting name="WinSize_x0089" serializeAs="String">
                <value>300, 300</value>
            </setting>
            <setting name="WinLocation_x0085" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="WinLocation_x0086" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="WinLocation_x0087" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="WinLocation_x0088" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="WinLocation_x0089" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="alpha_Text" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="positionX_Text" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="positionY_Text" serializeAs="String">
                <value>0</value>
            </setting>
        </VideoGraphSample.Properties.Settings>
    </userSettings>
</configuration>